*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  max-width: 250px;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
}

.card h3 {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

.card p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--grayish-blue)
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.container {
  padding: 10px
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
